.communityMainDiv {
    background-color: #555;
    border-top-left-radius: 0rem !important;
    border-top-right-radius: 0rem !important;
    display: grid;
}


.makeCommunityMainDiv {
    display: grid;
}