/* Display all posts */
.DisplayAllPostsMainDiv {
    background-color: hsl(180, 100%, 74%);
    padding: 1rem;
    display: grid;
    gap: 1rem;
}












/* posts */
.postMainDiv {
    background-color: hsl(180, 100%, 60%);
    padding: 1rem;
    display: grid;
}

.ytVideoCont {

    /* display: flex;
    overflow-x: auto;
    gap: 1rem; */

    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: min(500px, 100%);
    overflow-x: auto;
    gap: 1rem;
}

.imgCont {
    display: flex;
    overflow-x: auto;
    gap: 1rem;
}


/* @media only screen and (max-width: 600px) {
    .ytVideoCont {}


} */